---
import Layout from '../layouts/Layout.astro';

import Banner from '../components/Banner.astro';
import Choose from '../components/Choose.astro';
import FeatureNews from '../components/FeatureNews.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Partners from '../components/Partners.astro';
import Subscribe from '../components/Subscribe.astro';
import Testimonial from '../components/Testimonial.astro';
import TopBook from '../components/TopBook.astro';
---

<Layout title="Acenda">
	<main>
		<Header />
		<Choose />
		<Partners />
		<TopBook />
		<Banner />
		<FeatureNews />
		<Testimonial />
		<Subscribe />
		<Footer />
	</main>
</Layout>
