<section class="w-full h-[719px] bg-[url('./src/assets/image-13.jpg')]">
  <div class="w-[1120px] mx-auto h-full flex flex-col gap-y-5 pt-40 pb-[60px]">
    <h1 class="font-bold text-[104px] text-white">EXPLORE MALDIVES</h1>

    <div class="h-[335px]">
      <div class="mt-12 flex flex-row gap-x-[100px] h-[277px]">
        <div class="flex flex-col gap-y-6 w-[430px]">
          <p class="text-white text-xl leading-9">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s.
          </p>
          <button
            class="w-[168px] h-12 rounded-[40px] bg-white flex justify-center items-center"
          >
            <div class="flex items-center gap-x-2 py-3 pl-6 pr-4">
              <p class="font-bold text-[#1A1A1A]">See all</p>
              <img
                src="./src/assets/vuesax-linear-arrow-right.svg"
                alt=""
                width="20"
                height="20"
              />
            </div>
          </button>
        </div>

        <div class="flex flex-row gap-x-5">
          <div class="flex flex-col gap-y-4">
            <img
              src="./src/assets/rectangle-53.jpg"
              alt=""
              class="rounded-2xl transition-all hover:scale-105"
            />
            <h3 class="font-bold text-lg text-white text-center">
              Azure Haven
            </h3>
          </div>
          <div class="flex flex-col gap-y-4">
            <img
              src="./src/assets/rectangle-51.jpg"
              alt=""
              class="rounded-2xl transition-all hover:scale-105"
            />
            <h3 class="font-bold text-lg text-white text-center">
              Serene Sanctuary
            </h3>
          </div>
          <div class="flex flex-col gap-y-4">
            <img
              src="./src/assets/rectangle-52.jpg"
              alt=""
              class="rounded-2xl transition-all hover:scale-105"
            />
            <h3 class="font-bold text-lg text-white text-center">
              Verdant Vista
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
