<section class="w-full h-[540px] mt-[120px] bg-[#fffafa]">
  <div class="flex flex-col gap-y-[72px] pt-24 pb-28">
    <h2 class="font-bold text-[40px] text-center text-[#1A1A1A]">
      WHY CHOOSE US?
    </h2>

    <div class="max-w-[1120px] mx-auto flex gap-x-[104px]">
      <div class="flex flex-col gap-y-12 w-[280px] h-[252px] items-center">
        <div class="w-20 h-20 bg-[#EBF9FF] relative rounded-[16px]">
          <img
            src="/src/assets/vuesax-linear-dollar-circle.svg"
            alt=""
            width="40px"
            height="40px"
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          />
        </div>
        <div class="flex flex-col gap-y-6">
          <h3 class="font-black text-center text-[#1A1A1A] text-xl">
            Competitive Prices
          </h3>
          <p class="text-center">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-y-12 w-[280px] h-[252px] items-center">
        <div class="w-20 h-20 bg-[#EBF9FF] relative rounded-[18px]">
          <img
            src="/src/assets/vuesax-linear-security-user.svg"
            alt=""
            width="40px"
            height="40px"
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          />
        </div>
        <div class="flex flex-col gap-y-6">
          <h3 class="font-black text-center text-[#1A1A1A] text-xl">
            Secure Booking
          </h3>
          <p class="text-center">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-y-12 w-[280px] h-[252px] items-center">
        <div class="w-20 h-20 bg-[#EBF9FF] relative rounded-[18px]">
          <img
            src="/src/assets/vuesax-linear-refresh-right-square.svg"
            alt=""
            width="40px"
            height="40px"
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          />
        </div>
        <div class="flex flex-col gap-y-6">
          <h3 class="font-black text-center text-[#1A1A1A] text-xl">
            Seamless Experience
          </h3>
          <p class="text-center">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
