<section class="w-full h-[680px] gap-y-8 bg-[#fffafa] mb-14 mt-6">
  <div class="containercss mx-auto min-h-full flex flex-col pt-20  ">
    <input type="radio" name="slider" id="s1" checked />
    <input type="radio" name="slider" id="s2" />
    <input type="radio" name="slider" id="s3" />
    <input type="radio" name="slider" id="s4" />
    <input type="radio" name="slider" id="s5" />

    <div class="cards">
      <h2 class="text-[40px] font-bold text-[#262626] text-center mb-8">
        Feature News
      </h2>
      <label for="s1" id="slide1">
        <div class="card">
          <div class="w-[352px] h-full flex flex-col gap-y-8">
            <img
              src="./src/assets/rectangle-33.jpg"
              alt="img"
              class="rounded-t-3xl"
            />

            <div class="flex flex-col gap-y-6 h-[237px] mx-8">
              <div class="flex flex-col gap-y-2 min-h-[84px]">
                <div class="flex gap-x-[6px]">
                  <img
                    src="./src/assets/vuesax-linear-calendar.svg"
                    alt="img calendar"
                    width="22"
                    height="22"
                  />
                  <p class="text-[#191919]">May 8, 2024</p>
                </div>

                <h3 class="text-[#191919] font-bold text-2xl text-wrap">
                  Delicious restaurant at Hanalei Bay
                </h3>
              </div>
              <p class="text-wrap">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates, eveniet.
              </p>
              <a href="#" class="flex gap-x-3 items-center pointer-events-none">
                <div
                  class="relative w-[26px] h-[26px] rounded-full border border-[#008395]"
                >
                  <img
                    src="./src/assets/vuesax-linear-arrow-right-6.svg"
                    alt=""
                    width="18"
                    height="18"
                    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                  />
                </div>
                <p class="text-[#008395] font-bold">See more</p>
              </a>
            </div>
          </div>
        </div>
      </label>

      <label for="s2" id="slide2">
        <div class="card">
          <div class="w-[352px] h-full flex flex-col gap-y-8">
            <img
              src="./src/assets/rectangle-33-1.jpg"
              alt="img"
              class="rounded-t-3xl"
            />

            <div class="flex flex-col gap-y-6 h-[237px] mx-8">
              <div class="flex flex-col gap-y-2 min-h-[84px]">
                <div class="flex gap-x-[6px]">
                  <img
                    src="./src/assets/vuesax-linear-calendar.svg"
                    alt="img calendar"
                    width="22"
                    height="22"
                  />
                  <p class="text-[#191919]">May 8, 2024</p>
                </div>

                <h3 class="text-[#191919] font-bold text-2xl text-wrap">
                  Top 10 most beautiful check-in spots in Ph ...
                </h3>
              </div>
              <p class="text-wrap">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates, eveniet.
              </p>
              <a href="#" class="flex gap-x-3 items-center pointer-events-none">
                <div
                  class="relative w-[26px] h-[26px] rounded-full border border-[#008395]"
                >
                  <img
                    src="./src/assets/vuesax-linear-arrow-right-6.svg"
                    alt=""
                    width="18"
                    height="18"
                    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                  />
                </div>
                <p class="text-[#008395] font-bold">See more</p>
              </a>
            </div>
          </div>
        </div>
      </label>

      <label for="s3" id="slide3">
        <div class="card">
          <div class="w-[352px] h-full flex flex-col gap-y-8">
            <img
              src="./src/assets/rectangle-33-2.jpg"
              alt="img"
              class="rounded-t-3xl"
            />

            <div class="flex flex-col gap-y-6 h-[237px] mx-8">
              <div class="flex flex-col gap-y-2 min-h-[84px]">
                <div class="flex gap-x-[6px]">
                  <img
                    src="./src/assets/vuesax-linear-calendar.svg"
                    alt="img calendar"
                    width="22"
                    height="22"
                  />
                  <p class="text-[#191919]">May 8, 2024</p>
                </div>

                <h3 class="text-[#191919] font-bold text-2xl text-wrap">
                  Top 5 newest services at Navagio Beach
                </h3>
              </div>
              <p class="text-wrap">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates, eveniet.
              </p>
              <a href="#" class="flex gap-x-3 items-center pointer-events-none">
                <div
                  class="relative w-[26px] h-[26px] rounded-full border border-[#008395]"
                >
                  <img
                    src="./src/assets/vuesax-linear-arrow-right-6.svg"
                    alt=""
                    width="18"
                    height="18"
                    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                  />
                </div>
                <p class="text-[#008395] font-bold">See more</p>
              </a>
            </div>
          </div>
        </div>
      </label>

      <label for="s4" id="slide4">
        <div class="card">
          <div class="w-[352px] h-full flex flex-col gap-y-8">
            <img src="./src/assets/onsen.jpg" alt="img" class="rounded-t-3xl" />

            <div class="flex flex-col gap-y-6 h-[237px] mx-8">
              <div class="flex flex-col gap-y-2 min-h-[84px]">
                <div class="flex gap-x-[6px]">
                  <img
                    src="./src/assets/vuesax-linear-calendar.svg"
                    alt="img calendar"
                    width="22"
                    height="22"
                  />
                  <p class="text-[#191919]">May 8, 2024</p>
                </div>

                <h3 class="text-[#191919] font-bold text-2xl">
                  Relax at the Nagano onsens
                </h3>
              </div>
              <p class="text-wrap">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates, eveniet.
              </p>
              <a href="#" class="flex gap-x-3 items-center pointer-events-none">
                <div
                  class="relative w-[26px] h-[26px] rounded-full border border-[#008395]"
                >
                  <img
                    src="./src/assets/vuesax-linear-arrow-right-6.svg"
                    alt=""
                    width="18"
                    height="18"
                    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                  />
                </div>
                <p class="text-[#008395] font-bold">See more</p>
              </a>
            </div>
          </div>
        </div>
      </label>

      <label for="s5" id="slide5">
        <div class="card">
          <div class="w-[352px] h-full flex flex-col gap-y-8">
            <img
              src="./src/assets/santorini.jpg"
              alt="img"
              class="rounded-t-3xl"
            />

            <div class="flex flex-col gap-y-6 h-[237px] mx-8">
              <div class="flex flex-col gap-y-2 min-h-[84px]">
                <div class="flex gap-x-[6px]">
                  <img
                    src="./src/assets/vuesax-linear-calendar.svg"
                    alt="img calendar"
                    width="22"
                    height="22"
                  />
                  <p class="text-[#191919]">May 8, 2024</p>
                </div>

                <h3 class="text-[#191919] font-bold text-2xl text-wrap">
                  Santorini: unforgettable views
                </h3>
              </div>
              <p class="text-wrap">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates, eveniet.
              </p>
              <a href="#" class="flex gap-x-3 items-center pointer-events-none">
                <div
                  class="relative w-[26px] h-[26px] rounded-full border border-[#008395]"
                >
                  <img
                    src="./src/assets/vuesax-linear-arrow-right-6.svg"
                    alt=""
                    width="18"
                    height="18"
                    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                  />
                </div>
                <p class="text-[#008395] font-bold">See more</p>
              </a>
            </div>
          </div>
        </div>
      </label>
    </div>
  </div>
</section>

<style>
  input {
    display: none;
  }

  .containercss {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1120px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .cards {
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  .cards .card {
    max-width: 352px;
    background-color: #fffff0;
    border-radius: 24px;
    height: 535px;
  }

  .cards label {
    position: absolute;
    width: 352px;
    left: 0;
    right: 0;
    cursor: pointer;
    margin: auto;
    transition: transform 0.55s ease;
    border-radius: 24px;
  }

  #s1:checked ~ .cards #slide4,
  #s2:checked ~ .cards #slide5,
  #s3:checked ~ .cards #slide1,
  #s4:checked ~ .cards #slide2,
  #s5:checked ~ .cards #slide3 {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #eceaed;
    --current-color2: #404457;
  }
  #s1:checked ~ .cards #slide5,
  #s2:checked ~ .cards #slide1,
  #s3:checked ~ .cards #slide2,
  #s4:checked ~ .cards #slide3,
  #s5:checked ~ .cards #slide4 {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;
  }
  #s1:checked ~ .cards #slide1,
  #s2:checked ~ .cards #slide2,
  #s3:checked ~ .cards #slide3,
  #s4:checked ~ .cards #slide4,
  #s5:checked ~ .cards #slide5 {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0px);
    --current-color1: #0cfada;
    --current-color2: #eceaed;
  }
  #s1:checked ~ .cards #slide2,
  #s2:checked ~ .cards #slide3,
  #s3:checked ~ .cards #slide4,
  #s4:checked ~ .cards #slide5,
  #s5:checked ~ .cards #slide1 {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #0cfada;
    --current-color2: #eceaed;
  }
  #s1:checked ~ .cards #slide3,
  #s2:checked ~ .cards #slide4,
  #s3:checked ~ .cards #slide5,
  #s4:checked ~ .cards #slide1,
  #s5:checked ~ .cards #slide2 {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #eceade;
    --current-color2: #404457;
  }
</style>

<script>
  const radios = document.querySelectorAll('input[name="slider"]');
  let currentSlide = 0;
  const totalSlides = radios.length;

  // Change slide every 5 seconds
  setInterval(() => {
    currentSlide = (currentSlide + 1) % totalSlides;
    (radios[currentSlide] as HTMLInputElement).checked = true;
  }, 5000);
</script>
