<section class="w-full h-[720px] relative">
  <div
    class="bg-[url('./src/assets/pool4-4.jpg')] bg-cover bg-center absolute inset-0"
  >
  </div>
  <div class="bg-black/60 absolute inset-0"></div>
  <div class="splide" aria-label="Splide Basic HTML Example">
    <div
      class="splide__track w-[1120px] mx-auto h-[535px] my-10 flex flex-col gap-y-8"
    >
      <h2 class="text-[40px] font-bold text-white">Testimonials</h2>
      <ul class="splide__list">
        <li class="splide__slide w-full h-[350px] flex gap-x-10">
          <div
            class="w-[352px] h-[250px] rounded-[20px] my-auto relative bg-[#fffafa]"
          >
            <img
              src="./src/assets/Ellipse-7.svg"
              alt=""
              width="80"
              height="80"
              class="absolute -top-12 left-8"
            />
            <div class="mt-14 mx-8 h-[164px] flex flex-col gap-y-3">
              <div class="w-full h-12 flex gap-x-[83px]">
                <div class="min-w-[92px] flex flex-col gap-y-1">
                  <h3 class="font-bold text-[#191919]">Sebastian</h3>
                  <p class="text-xs text-nowrap text-[#191919]">
                    Graphic design
                  </p>
                </div>
                <div class="w-[100px] h-5 gap-x-[2px] flex">
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                </div>
              </div>
              <p class="text-[#191919] text-left">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Maxime, ad dignissimos amet illum dolore claslalslas jua.
              </p>
            </div>
          </div>
          <div
            class="w-[352px] h-[250px] rounded-[20px] my-auto relative bg-[#fffafa]"
          >
            <img
              src="./src/assets/Ellipse-7-1.svg"
              alt=""
              width="80"
              height="80"
              class="absolute -top-12 left-8"
            />
            <div class="mt-14 mx-8 h-[164px] flex flex-col gap-y-3">
              <div class="w-full h-12 flex gap-x-[83px]">
                <div class="w-[92px] flex flex-col gap-y-1">
                  <h3 class="font-bold text-[#191919]">Evangeline</h3>
                  <p class="text-xs text-nowrap text-[#191919]">Model</p>
                </div>
                <div class="w-[100px] h-5 gap-x-[2px] flex">
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                </div>
              </div>
              <p class="text-[#191919] text-left">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Maxime, ad dignissimos amet illum dolore claslalslas jua.
              </p>
            </div>
          </div>
          <div
            class="w-[352px] h-[250px] rounded-[20px] my-auto relative bg-[#fffafa]"
          >
            <img
              src="./src/assets/Ellipse-7-2.svg"
              alt=""
              width="80"
              height="80"
              class="absolute -top-12 left-8"
            />
            <div class="mt-14 mx-8 h-[164px] flex flex-col gap-y-3">
              <div class="w-full h-12 flex gap-x-[83px]">
                <div class="w-[92px] flex flex-col gap-y-1">
                  <h3 class="font-bold text-[#191919]">Alexander</h3>
                  <p class="text-xs text-nowrap text-[#191919]">
                    Software engineer
                  </p>
                </div>
                <div class="w-[100px] h-5 gap-x-[2px] flex">
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                </div>
              </div>
              <p class="text-[#191919] text-left">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Maxime, ad dignissimos amet illum dolore claslalslas jua.
              </p>
            </div>
          </div>
        </li>

        <li class="splide__slide w-full h-[350px] flex gap-x-10">
          <div
            class="w-[352px] h-[250px] rounded-[20px] my-auto relative bg-[#fffafa]"
          >
            <img
              src="./src/assets/Female-1.jpg"
              alt=""
              width="80"
              height="80"
              class="absolute -top-12 left-8 rounded-full"
            />
            <div class="mt-14 mx-8 h-[164px] flex flex-col gap-y-3">
              <div class="w-full h-12 flex gap-x-[83px]">
                <div class="min-w-[92px] flex flex-col gap-y-1">
                  <h3 class="font-bold text-[#191919]">Natalie</h3>
                  <p class="text-xs text-nowrap text-[#191919]">Lawyer</p>
                </div>
                <div class="w-[100px] h-5 gap-x-[2px] flex">
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                </div>
              </div>
              <p class="text-[#191919] text-left">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Maxime, ad dignissimos amet illum dolore claslalslas jua.
              </p>
            </div>
          </div>
          <div
            class="w-[352px] h-[250px] rounded-[20px] my-auto relative bg-[#fffafa]"
          >
            <img
              src="./src/assets/Male-1.jpg"
              alt=""
              width="80"
              height="80"
              class="absolute -top-12 left-8 rounded-full"
            />
            <div class="mt-14 mx-8 h-[164px] flex flex-col gap-y-3">
              <div class="w-full h-12 flex gap-x-[83px]">
                <div class="w-[92px] flex flex-col gap-y-1">
                  <h3 class="font-bold text-[#191919]">Elvin</h3>
                  <p class="text-xs text-nowrap text-[#191919]">Photographer</p>
                </div>
                <div class="w-[100px] h-5 gap-x-[2px] flex">
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                </div>
              </div>
              <p class="text-[#191919] text-left">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Maxime, ad dignissimos amet illum dolore claslalslas jua.
              </p>
            </div>
          </div>
          <div
            class="w-[352px] h-[250px] rounded-[20px] my-auto relative bg-[#fffafa]"
          >
            <img
              src="./src/assets/Female-2.svg"
              alt=""
              width="80"
              height="80"
              class="absolute -top-12 left-8"
            />
            <div class="mt-14 mx-8 h-[164px] flex flex-col gap-y-3">
              <div class="w-full h-12 flex gap-x-[83px]">
                <div class="w-[92px] flex flex-col gap-y-1">
                  <h3 class="font-bold text-[#191919]">Brianna</h3>
                  <p class="text-xs text-nowrap text-[#191919]">
                    Language professor
                  </p>
                </div>
                <div class="w-[100px] h-5 gap-x-[2px] flex">
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                </div>
              </div>
              <p class="text-[#191919] text-left">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Maxime, ad dignissimos amet illum dolore claslalslas jua.
              </p>
            </div>
          </div>
        </li>

        <li class="splide__slide w-full h-[350px] flex gap-x-10">
          <div
            class="w-[352px] h-[250px] rounded-[20px] my-auto relative bg-[#fffafa]"
          >
            <img
              src="./src/assets/Male-2.svg"
              alt=""
              width="80"
              height="80"
              class="absolute -top-12 left-8 rounded-full"
            />
            <div class="mt-14 mx-8 h-[164px] flex flex-col gap-y-3">
              <div class="w-full h-12 flex gap-x-[83px]">
                <div class="min-w-[92px] flex flex-col gap-y-1">
                  <h3 class="font-bold text-[#191919]">Elias</h3>
                  <p class="text-xs text-nowrap text-[#191919]">Architect</p>
                </div>
                <div class="w-[100px] h-5 gap-x-[2px] flex">
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                </div>
              </div>
              <p class="text-[#191919] text-left">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Maxime, ad dignissimos amet illum dolore claslalslas jua.
              </p>
            </div>
          </div>
          <div
            class="w-[352px] h-[250px] rounded-[20px] my-auto relative bg-[#fffafa]"
          >
            <img
              src="./src/assets/Female-3.svg"
              alt=""
              width="80"
              height="80"
              class="absolute -top-12 left-8 rounded-full"
            />
            <div class="mt-14 mx-8 h-[164px] flex flex-col gap-y-3">
              <div class="w-full h-12 flex gap-x-[83px]">
                <div class="w-[92px] flex flex-col gap-y-1">
                  <h3 class="font-bold text-[#191919]">Lara</h3>
                  <p class="text-xs text-nowrap text-[#191919]">
                    Digital marketing
                  </p>
                </div>
                <div class="w-[100px] h-5 gap-x-[2px] flex">
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                </div>
              </div>
              <p class="text-[#191919] text-left">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Maxime, ad dignissimos amet illum dolore claslalslas jua.
              </p>
            </div>
          </div>
          <div
            class="w-[352px] h-[250px] rounded-[20px] my-auto relative bg-[#fffafa]"
          >
            <img
              src="./src/assets/Male-3.svg"
              alt=""
              width="80"
              height="80"
              class="absolute -top-12 left-8"
            />
            <div class="mt-14 mx-8 h-[164px] flex flex-col gap-y-3">
              <div class="w-full h-12 flex gap-x-[83px]">
                <div class="w-[92px] flex flex-col gap-y-1">
                  <h3 class="font-bold text-[#191919]">Thomas</h3>
                  <p class="text-xs text-nowrap text-[#191919]">
                    Informatic security
                  </p>
                </div>
                <div class="w-[100px] h-5 gap-x-[2px] flex">
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                  <img src="./src/assets/star-2.svg" alt="" />
                </div>
              </div>
              <p class="text-[#191919] text-left">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Maxime, ad dignissimos amet illum dolore claslalslas jua.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<script>
  import "@splidejs/splide/css/customx";
  import { Splide } from "@splidejs/splide";
  new Splide(".splide").mount();
</script>
