<section class="w-full h-[1040px] bg-[#fffafa]">
  <div class="pt-16 px-[114px] pb-[104px] flex flex-col gap-y-16">
    <h2 class="font-bold text-[40px] text-center text-[#1A1A1A]">
      TOP BOOK NOW
    </h2>

    <div class="h-[662px] flex flex-col gap-y-7">
      <div class="h-[315px] grid grid-cols-4 gap-x-8">
        <div class="w-[256px] gap-y-5 flex flex-col">
          <div class="relative">
            <img src="./src/assets/rectangle-6-8.jpg" alt="" class="rounded-xl" />
            <div class="absolute top-0 right-0">
              <div
                class="w-[57px] h-8 bg-black/50 rounded-lg mt-5 mr-5 flex items-center justify-center"
              >
                <div class="flex gap-x-1 items-center justify-center h-4">
                  <img
                    src="./src/assets/star-1.svg"
                    alt=""
                    width="16"
                    height="16"
                  />
                  <p class="font-bold text-sm text-[#E5E5E5] tracking-wider">
                    4.8
                  </p>
                </div>
              </div>
            </div>
            <div
              class="absolute mb-4 bottom-0 left-1/2 transform -translate-x-1/2"
            >
              <div class="flex gap-x-1">
                <img src="./src/assets/Ellipse-1.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <h4 class="font-bold text-[#1A1A1A]">SC.Mindanou</h4>
              <p class="text-[#191919] font-bold">$100</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img
                src="./src/assets/vuesax-linear-location.svg"
                alt=""
                width="20"
                height="20"
              />
              <p class="text-[12px] text-[#1A1A1A]">Mindanou, Philippines</p>
            </div>
          </div>
        </div>
        <div class="w-[256px] gap-y-5 flex flex-col">
          <div class="relative">
            <img src="./src/assets/rectangle-6-1.jpg" alt="" class="rounded-xl" />
            <div class="absolute top-0 right-0">
              <div
                class="w-[57px] h-8 bg-black/50 rounded-lg mt-5 mr-5 flex items-center justify-center"
              >
                <div class="flex gap-x-1 items-center justify-center h-4">
                  <img
                    src="./src/assets/star-1.svg"
                    alt=""
                    width="16"
                    height="16"
                  />
                  <p class="font-bold text-sm text-[#E5E5E5] tracking-wider">
                    4.8
                  </p>
                </div>
              </div>
            </div>
            <div
              class="absolute mb-4 bottom-0 left-1/2 transform -translate-x-1/2"
            >
              <div class="flex gap-x-1">
                <img src="./src/assets/Ellipse-1.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <h4 class="font-bold text-[#1A1A1A]">The Sanctuary</h4>
              <p class="text-[#191919] font-bold">$9,000</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img
                src="./src/assets/vuesax-linear-location.svg"
                alt=""
                width="20"
                height="20"
              />
              <p class="text-[12px] text-[#1A1A1A]">Bali, Indonesia</p>
            </div>
          </div>
        </div>
        <div class="w-[256px] gap-y-5 flex flex-col">
          <div class="relative">
            <img src="./src/assets/rectangle-6-2.jpg" alt="" class="rounded-xl" />
            <div class="absolute top-0 right-0">
              <div
                class="w-[57px] h-8 bg-black/50 rounded-lg mt-5 mr-5 flex items-center justify-center"
              >
                <div class="flex gap-x-1 items-center justify-center h-4">
                  <img
                    src="./src/assets/star-1.svg"
                    alt=""
                    width="16"
                    height="16"
                  />
                  <p class="font-bold text-sm text-[#E5E5E5] tracking-wider">
                    4.8
                  </p>
                </div>
              </div>
            </div>
            <div
              class="absolute mb-4 bottom-0 left-1/2 transform -translate-x-1/2"
            >
              <div class="flex gap-x-1">
                <img src="./src/assets/Ellipse-1.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <h4 class="font-bold text-[#1A1A1A]">The Infinity</h4>
              <p class="text-[#191919] font-bold">$8,000</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img
                src="./src/assets/vuesax-linear-location.svg"
                alt=""
                width="20"
                height="20"
              />
              <p class="text-[12px] text-[#1A1A1A]">Sydney, Australia</p>
            </div>
          </div>
        </div>
        <div class="w-[256px] gap-y-5 flex flex-col">
          <div class="relative">
            <img src="./src/assets/rectangle-6-3.jpg" alt="" class="rounded-xl" />
            <div class="absolute top-0 right-0">
              <div
                class="w-[57px] h-8 bg-black/50 rounded-lg mt-5 mr-5 flex items-center justify-center"
              >
                <div class="flex gap-x-1 items-center justify-center h-4">
                  <img
                    src="./src/assets/star-1.svg"
                    alt=""
                    width="16"
                    height="16"
                  />
                  <p class="font-bold text-sm text-[#E5E5E5] tracking-wider">
                    4.8
                  </p>
                </div>
              </div>
            </div>
            <div
              class="absolute mb-4 bottom-0 left-1/2 transform -translate-x-1/2"
            >
              <div class="flex gap-x-1">
                <img src="./src/assets/Ellipse-1.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <h4 class="font-bold text-[#1A1A1A]">La Maison</h4>
              <p class="text-[#191919] font-bold">$8,000</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img
                src="./src/assets/vuesax-linear-location.svg"
                alt=""
                width="20"
                height="20"
              />
              <p class="text-[12px] text-[#1A1A1A]">Barcelona, Spain</p>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[315px] grid grid-cols-4 gap-x-8">
        <div class="w-[256px] gap-y-5 flex flex-col">
          <div class="relative">
            <img src="./src/assets/rectangle-6-4.jpg" alt="" class="rounded-xl" />
            <div class="absolute top-0 right-0">
              <div
                class="w-[57px] h-8 bg-black/50 rounded-lg mt-5 mr-5 flex items-center justify-center"
              >
                <div class="flex gap-x-1 items-center justify-center h-4">
                  <img
                    src="./src/assets/star-1.svg"
                    alt=""
                    width="16"
                    height="16"
                  />
                  <p class="font-bold text-sm text-[#E5E5E5] tracking-wider">
                    4.8
                  </p>
                </div>
              </div>
            </div>
            <div
              class="absolute mb-4 bottom-0 left-1/2 transform -translate-x-1/2"
            >
              <div class="flex gap-x-1">
                <img src="./src/assets/Ellipse-1.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <h4 class="font-bold text-[#1A1A1A]">Serenity Shores</h4>
              <p class="text-[#191919] font-bold">$7,000</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img
                src="./src/assets/vuesax-linear-location.svg"
                alt=""
                width="20"
                height="20"
              />
              <p class="text-[12px] text-[#1A1A1A]">Sydney, Australia</p>
            </div>
          </div>
        </div>
        <div class="w-[256px] gap-y-5 flex flex-col">
          <div class="relative">
            <img src="./src/assets/rectangle-6-5.jpg" alt="" class="rounded-xl" />
            <div class="absolute top-0 right-0">
              <div
                class="w-[57px] h-8 bg-black/50 rounded-lg mt-5 mr-5 flex items-center justify-center"
              >
                <div class="flex gap-x-1 items-center justify-center h-4">
                  <img
                    src="./src/assets/star-1.svg"
                    alt=""
                    width="16"
                    height="16"
                  />
                  <p class="font-bold text-sm text-[#E5E5E5] tracking-wider">
                    4.8
                  </p>
                </div>
              </div>
            </div>
            <div
              class="absolute mb-4 bottom-0 left-1/2 transform -translate-x-1/2"
            >
              <div class="flex gap-x-1">
                <img src="./src/assets/Ellipse-1.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <h4 class="font-bold text-[#1A1A1A]">Azure Haven</h4>
              <p class="text-[#191919] font-bold">$8,000</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img
                src="./src/assets/vuesax-linear-location.svg"
                alt=""
                width="20"
                height="20"
              />
              <p class="text-[12px] text-[#1A1A1A]">Barcelona, Spain</p>
            </div>
          </div>
        </div>
        <div class="w-[256px] gap-y-5 flex flex-col">
          <div class="relative">
            <img src="./src/assets/rectangle-6-6.jpg" alt="" class="rounded-xl" />
            <div class="absolute top-0 right-0">
              <div
                class="w-[57px] h-8 bg-black/50 rounded-lg mt-5 mr-5 flex items-center justify-center"
              >
                <div class="flex gap-x-1 items-center justify-center h-4">
                  <img
                    src="./src/assets/star-1.svg"
                    alt=""
                    width="16"
                    height="16"
                  />
                  <p class="font-bold text-sm text-[#E5E5E5] tracking-wider">
                    4.8
                  </p>
                </div>
              </div>
            </div>
            <div
              class="absolute mb-4 bottom-0 left-1/2 transform -translate-x-1/2"
            >
              <div class="flex gap-x-1">
                <img src="./src/assets/Ellipse-1.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <h4 class="font-bold text-[#1A1A1A]">Ocean Breeze</h4>
              <p class="text-[#191919] font-bold">$7,000</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img
                src="./src/assets/vuesax-linear-location.svg"
                alt=""
                width="20"
                height="20"
              />
              <p class="text-[12px] text-[#1A1A1A]">Bali, Indonesia</p>
            </div>
          </div>
        </div>
        <div class="w-[256px] gap-y-5 flex flex-col">
          <div class="relative">
            <img src="./src/assets/rectangle-6-7.jpg" alt="" class="rounded-xl" />
            <div class="absolute top-0 right-0">
              <div
                class="w-[57px] h-8 bg-black/50 rounded-lg mt-5 mr-5 flex items-center justify-center"
              >
                <div class="flex gap-x-1 items-center justify-center h-4">
                  <img
                    src="./src/assets/star-1.svg"
                    alt=""
                    width="16"
                    height="16"
                  />
                  <p class="font-bold text-sm text-[#E5E5E5] tracking-wider">
                    4.8
                  </p>
                </div>
              </div>
            </div>
            <div
              class="absolute mb-4 bottom-0 left-1/2 transform -translate-x-1/2"
            >
              <div class="flex gap-x-1">
                <img src="./src/assets/Ellipse-1.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
                <img src="./src/assets/Ellipse-2.svg" alt="" />
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <h4 class="font-bold text-[#1A1A1A]">Palm Breeze</h4>
              <p class="text-[#191919] font-bold">$6,000</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img
                src="./src/assets/vuesax-linear-location.svg"
                alt=""
                width="20"
                height="20"
              />
              <p class="text-[12px] text-[#1A1A1A]">Phuket, Thailand</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full flex justify-center items-center">
      <button
        class="w-[168px] h-12 rounded-[40px] border border-[#D8D8D8] flex justify-center items-center"
      >
        <div class="flex items-center gap-x-2 py-3 pl-6 pr-4">
          <p class="font-bold text-[#1A1A1A]">See all</p>
          <img
            src="./src/assets/vuesax-linear-arrow-right.svg"
            alt=""
            width="20"
            height="20"
          />
        </div>
      </button>
    </div>
  </div>
</section>
